body{
    background-color: rgb(78, 130, 242);
}

.header-text{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: antiquewhite;
}

.footer-text{
    display: flex;
    justify-content: flex-end;
    color: antiquewhite;
    
}

.list-photo img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.list-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:20px
    

}